header {
    background-color: #ff1900;
    display: flex;
    align-items: center;
    padding: 10px;
}

header img {
    width: 300px;
    height: 100px;
    margin-right: 10px;
}

header input[type="text"] {
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}